<ion-view title="Welcome" id="page7" style="background-color:#DEDEDE;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/KY2L1Pv0Qa4LewWFEFP6_iTunesArtwork2x.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="welcome-form2" class="list">
      <div class="spacer" style="height: 40px;"></div>
      <ion-item class="item-divider" id="welcome-list-item-divider4"> Logging In</ion-item>
      <ion-list id="welcome-list2">
        <label class="item item-input" id="welcome-input1">
          <span class="input-label">Username</span>
          <input type="email" placeholder="emanresu">
        </label>
        <label class="item item-input" id="welcome-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="********">
        </label>
      </ion-list>
      <a ui-sref="tabsController.seenThatCar()" id="welcome-button9" class="button button-positive button-block">Log In</a>
      <a href-inappbrowser="/signup" id="welcome-button10" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>