<ion-view title="Filtering" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="filtering-form3" class="list">
      <label class="item item-select" id="filtering-select1" name="Filtering">
        <span class="input-label">Brand</span>
        <select>
          <option>Audi</option>
          <option>BMW</option>
          <option>Bugatti</option>
          <option>Chevrolet</option>
          <option>Dodge</option>
          <option>Ferrari</option>
          <option>Honda</option>
          <option>Koenigsegg</option>
          <option>Lamborghini</option>
          <option>Mazda</option>
          <option>McLaren</option>
          <option>Mercedes-Benz</option>
          <option>Volkswagen</option>
          <option>Toyota</option>
          <option>+ Add more brands</option>
        </select>
      </label>
      <label class="item item-select" id="filtering-select2">
        <span class="input-label">Color</span>
        <select>
          <option>Black</option>
          <option>White</option>
          <option>Blue</option>
          <option>Red</option>
          <option>Green</option>
          <option>Grey</option>
          <option>Others</option>
          <option>+ Add more color</option>
        </select>
      </label>
      <label class="item item-select" id="filtering-select3">
        <span class="input-label">License Plate</span>
        <select>
          <option>Numbers</option>
          <option>Characters</option>
          <option>+ Fill in</option>
        </select>
      </label>
      <label class="item item-select" id="filtering-select4">
        <span class="input-label">Date/Time</span>
        <select>
          <option>Day</option>
          <option>Month</option>
          <option>Year</option>
          <option>+ Fill in</option>
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>